In [1]:
import pandas as pd
import numpy as np

In [4]:
df=pd.read_csv("smart_home_energy_consumption_large (1).csv")
#order the home id in asscending order
df=df.sort_values(by=['Home ID'])
df.head()

,Home ID,Appliance Type,Energy Consumption (kWh),Time,Date,Outdoor Temperature (°C),Season,Household Size
64877,1,Washing Machine,1.39,13:25,2023-09-02,-6.7,Summer,1
75060,1,Microwave,1.61,18:42,2023-07-24,17.1,Summer,4
64009,1,Oven,0.43,19:57,2023-05-25,36.6,Spring,4
9341,1,Dishwasher,0.26,19:38,2023-08-11,-2.0,Summer,4
49349,1,Fridge,0.12,13:45,2023-04-17,-3.6,Spring,1

In [9]:
#merge the same home id into one row appliances into colums inside each appliance energynConsumed and time tamp respectively
grouped=df.groupby('Home ID')
merged_df=grouped.agg({
    'Time': lambda x: ','.join(x.astype(str)),
    'Appliance Type': lambda x: ','.join(x.astype(str)),
    'Energy Consumption (kWh)': lambda x: ','.join(x.astype(str)),
    'Outdoor Temperature (°C)':lambda x: ','.join(x.astype(str)),
    'Household Size': lambda x:','.join(x.astype(str)),
}).reset_index()
merged_df.head()

,Home ID,Time,Appliance Type,Energy Consumption (kWh),Outdoor Temperature (°C),Household Size
0,1,"13:25,18:42,19:57,19:38,13:45,01:22,11:58,00:4...","Washing Machine,Microwave,Oven,Dishwasher,Frid...","1.39,1.61,0.43,0.26,0.12,1.0,1.7,3.78,1.88,1.0...","-6.7,17.1,36.6,-2.0,-3.6,-1.4,17.5,-8.3,15.6,-...","1,4,4,4,1,1,3,4,2,3,2,1,3,3,3,3,5,1,4,3,2,5,5,..."
1,2,"10:19,00:53,06:44,04:02,11:34,15:59,16:31,23:4...","Washing Machine,Computer,Dishwasher,Microwave,...","1.18,0.34,0.92,1.37,1.01,1.28,0.45,0.94,1.64,1...","1.4,23.8,26.0,21.6,-5.8,35.6,24.4,17.4,10.9,2....","5,4,1,2,3,4,1,4,2,3,1,3,2,1,4,3,5,3,4,5,3,3,3,..."
2,3,"14:29,14:31,14:11,10:56,13:39,01:18,21:52,15:3...","Dishwasher,Oven,Microwave,Heater,Dishwasher,Mi...","1.44,0.76,1.21,3.02,0.48,0.76,1.84,1.05,0.76,0...","25.4,9.2,-3.8,10.1,13.4,-0.1,16.4,29.2,17.3,12...","1,5,3,5,4,1,5,2,4,4,2,3,2,1,5,5,4,2,5,5,3,5,4,..."
3,4,"20:13,09:36,12:06,00:07,00:10,16:24,04:50,16:0...","TV,Washing Machine,Dishwasher,Microwave,Lights...","1.11,1.46,1.15,0.89,1.04,1.47,2.4,0.21,1.79,0....","0.7,27.4,-3.8,27.0,30.4,-4.8,35.7,-5.8,9.9,12....","1,1,5,1,5,2,5,5,1,4,3,5,4,4,3,2,4,3,2,1,1,2,5,..."
4,5,"14:33,05:47,15:35,05:41,17:54,02:09,00:33,12:1...","Microwave,Dishwasher,Heater,TV,Microwave,Air C...","0.62,1.55,3.1,0.81,0.84,2.28,0.44,1.24,1.96,1....","0.9,-1.6,19.9,26.8,-6.5,7.8,0.8,1.5,30.1,-7.0,...","1,1,2,5,4,3,5,2,3,1,1,5,1,4,5,3,3,5,3,1,5,1,5,..."

In [11]:
merged_df.to_csv("Smart_homes_data_along_with_time_stamp.csv",index=False)
merged_df.to_excel("Smart_homes_data_along_with_time_stamp.xlsx",index=False
                   )